.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--tg-theme-bg-color);

  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8px;
    opacity: 0.8;
    color: var(--tg-theme-text-color);
  }
}

.loadingState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.yourGoals {
  margin-bottom: 12px !important;
  font-size: 24px;
  font-weight: 900;
  opacity: 0.8;
  color: var(--tg-theme-text-color);
}
