.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  h1 {
    text-align: center;
    font-size: 4rem;
    margin: 1rem;
    color: rgba(0, 0, 0, 0.9);
  }
}

.airyPic {
  width: 90%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
}

.description {
  width: 80%;
  max-width: 500px;
  text-align: center;
  color: rgba(0, 0, 0, 0.57);
}
