.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 24px;
  background: var(--tg-theme-bg-color);

  h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 8px;
    opacity: 0.8;
  }
}

.userName {
  margin-bottom: 24px;
}

.airyPic {
  width: 90%;
  height: 100%;
  max-width: 200px !important;
  max-height: 200px !important;
  border-radius: 8px;
  margin-bottom: 12px;
}

.description {
  width: 80%;
  max-width: 400px;
  text-align: center;
  opacity: 0.57;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 16px;
}
