.root {
  width: 100%;
  max-width: 420px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  background: var(--tg-theme-background-color);
}

.pageWrapper {
  padding: 24px;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-background-color);
}
