.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 58px;
}
.pageName {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
}

.burger {
  position: absolute;
  top: 12px;
  right: 12px;
}

.drawer {
  & section,
  & header {
    padding-left: 18px;
  }
}

.drawerWrapper {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    font-weight: bold;
    color: #24a1de;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
