.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.continue {
  background: #303857;
  color: #fff;
  border: 1px solid #39415d !important;

  transition:
    background 0.25s ease-in-out,
    color 0.25s ease-in-out,
    border 0.25s ease-in-out;
  &:disabled {
    background: #2c2f3d;
    color: #9b9b9b;
    border: 1px solid #353748 !important;
  }
}

.input {
  input {
    background: #263752;
    color: #fff;
    border: 1px solid #35455e;
  }
}

.createGoalHint {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  p {
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;

    b {
      font-weight: 800;
      color: #5e6162;
    }
  }
}

.letterSpacingWrapper {
  margin-bottom: 12px;
  padding: 8px 12px 8px 10px;
  border-left: 8px solid rgba(#fff, 0.35);
  background: rgba(#fff, 0.08);
  width: 100%;
}

.letterSpacing {
  letter-spacing: -1px;
  line-height: 22px;

  span {
    background: rgba(#fff, 0.05);
    padding: 0px 4px;
    color: #2ea6d9;
  }
}

.underline {
  text-decoration: underline;
  color: white !important;
}