.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title {
  opacity: 0.9;
  margin-bottom: 4px !important;
}

.createGoalHint {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  p {
    font-weight: 300;
    opacity: 0.4;
    font-size: 14px;
    line-height: 16px;
  }
}
