.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 16px 18px;
  border-radius: 8px;
  background: radial-gradient(rgba(56, 85, 121, 0.78), #2a3757);
  border: 1px solid #3c4665;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.heading {
}

.estimationWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}

.estimation {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 0px !important;
}

.progressWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}
